<!DOCTYPE html>
<html lang="en" xmlns:th=”http://www.thymeleaf.org”>
<head>
    <meta charset="UTF-8">
    <title>Authorization Page</title>
</head>
<body>
<div style="text-align: center">
    <a th:href="@{/homePage}">Home</a>
    <h1>Authorization</h1>
    <form th:action="@{/authorizationUserAlreadyExistsErrorPage}" th:object="${userForm}" method="POST">
        <p>User with such login already exists</p>
        <p>Name:</p>
        <input type="text" th:field="*{name}"/>
        <p>Login:</p>
        <input type ="text" th:field="*{login}"/>
        <p>Password</p>
        <input type ="password" th:field="*{password}"/>
        <p><input type="submit" value="Create account"/></p>
    </form>
</div>
</body>
</html>